node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local development certificates and private keys
certs/
*.pem
*.key
*.p12
*.pfx
